<center>
<br>
<br>
<br>
<br>
  <center><img src="<%= user._json.avatarfull %>" alt="..." class="img-circle"></center>
  <center><h3>Steam Name: <%= user.displayName %></h3></center>
  <center><h3>Steam ID: <%= user.identifier %></h3></center>
  <center><h3>Steam URL: <%= user._json.profileurl %></h3></center>
  <center><h3>Visibility State: <%= user._json.timecreated %></h3></center>
