<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-md-4">
<center><img src="<%= user._json.avatarfull %>" alt="..." class="img-circle"></center>
</div>
<div class="col-md-8">
<h1><%= user.displayName %></h1>
<h4>Location: <%= user._json.locstatecode %></h4>
<a href="<%= user._json.profileurl %></h3>">Steam URL</a>
<br>
<br>
Account Creation Date: &nbsp; <%= new Date(user._json.timecreated * 1000) %>
<br>
<br>
Steam ID: &nbsp; <%= user._json.steamid %>
<h5>Status:

<% if (user._json.personastate == 1) { %> <strong class="text-success"> Online </strong> <% } %>
</h5>
